.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 13px 13px 10px 10px;
  height: 90%;

  img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 150px;
  }
  
  .card-data{
    margin-left: 15px;
    text-align: start;
    color:rgba(49, 48, 55, 0.5);
    margin-top: 5px;
    font-size: 14px;
    
  }
  .card-text{
    margin-left: 15px;
    text-align: start;
    font-size: 16px;
    color:rgba(49, 48, 55, 1);
    margin-bottom: 15px;
  }
 
}

.open-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    color:#313037;
    width: 60%;
    text-align: start;
    font-weight: 650;
    color: #313037;
  }
  img{
    display: flex;
    width: 60%;
    border-radius: 11px;
  }
  &__content{
    margin-top: 40px;
    text-align: start;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 17px;
    color: #313037;
  }
}