main{
  background-color: #E5E5E5;

  .main-container {
    margin: 0 15%;
    justify-content: space-between;
  

    &__sorting{
      width: 98%;
      display: flex;
      justify-content: space-between;
      &__button{
        display: flex;
        justify-content: space-around;
        width: 35%;
        margin-top: 70px;
        margin-bottom: 30px;

        button{
          border: none;
          background-color:rgba(49, 48, 55, 0.1);
          width: 100px;
          height: 50px;
          border-radius: 5px;
          font-size: 16px;
        }
      }
      &__select{
        width: 256px;
        margin-top: 70px;

        select{
          width: 200px;
          height: 50px;
        }
      }
    }
  }
}

.post-cards-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;


  li {
    list-style: none;
    flex: 0 0 33.333333%;
    width: 120vw;
  }
}
.post-cards-pagination{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
